<section id="deals">
  <div class="container col-xl-12 col-xxl-8 px-4 py-5">
    <div class="row align-items-center">
      <h1 class="fw-bold lh-1 mb-3">Business Class Flight Deals</h1>
      <ul class="nav nav-pills mb-3 pt-4" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-europe-tab" data-bs-toggle="pill" data-bs-target="#pills-europe" type="button" role="tab" aria-controls="pills-europe" aria-selected="true">EUROPE</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-asia-tab" data-bs-toggle="pill" data-bs-target="#pills-asia" type="button" role="tab" aria-controls="pills-asia" aria-selected="false">ASIA</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-africa-tab" data-bs-toggle="pill" data-bs-target="#pills-africa" type="button" role="tab" aria-controls="pills-africa" aria-selected="false">AFRICA</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-africa-tab" data-bs-toggle="pill" data-bs-target="#pills-middle" type="button" role="tab" aria-controls="pills-middle" aria-selected="false">MIDDLE EAST</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-oceania-tab" data-bs-toggle="pill" data-bs-target="#pills-oceania" type="button" role="tab" aria-controls="pills-oceania" aria-selected="false">OCEANIA</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-europe" role="tabpanel" aria-labelledby="pills-europe-tab">
          <div class="row g-4 py-3 row-cols-1 row-cols-lg-4">
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/London.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to London</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,203</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Paris.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Paris</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,203</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Rome.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Rome</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,203</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Amsterdam.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Amsterdam</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,203</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
          </div>
          <div class="col-auto align-items-center">
            <button type="submit" class="btn btn-primary mb-3">Show all</button>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-asia" role="tabpanel" aria-labelledby="pills-asia-tab">
          <div class="row g-4 py-3 row-cols-1 row-cols-lg-4">
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Shanghai.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Shanghai</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,830</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Bangkok.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Bangkok</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,310</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Delhi.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Delhi</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,893</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Hong_Kong.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Hong Kong</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,392</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
          </div>
          <div class="col-auto align-items-center">
            <button type="submit" class="btn btn-primary mb-3">Show all</button>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-africa" role="tabpanel" aria-labelledby="pills-africa-tab">
          <div class="row g-4 py-3 row-cols-1 row-cols-lg-4">
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Abuja.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Abuja</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,830</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Dar_Es_Salaam.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Dar Es Salaam</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,310</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Johannesburg.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Johannesburg</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,893</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Cape_Town.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Cape Town</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,392</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
          </div>
          <div class="col-auto align-items-center">
            <button type="submit" class="btn btn-primary mb-3">Show all</button>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-middle" role="tabpanel" aria-labelledby="pills-middle-tab">
          <div class="row g-4 py-3 row-cols-1 row-cols-lg-4">
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Dubai.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Dubai</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,830</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Abu_Dhabi.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Abu Dhabim</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,310</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Istanbul.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Istanbul</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,893</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Tel_Aviv.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Tel Aviv</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,392</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
          </div>
          <div class="col-auto align-items-center">
            <button type="submit" class="btn btn-primary mb-3">Show all</button>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-oceania" role="tabpanel" aria-labelledby="pills-oceania-tab">
          <div class="row g-4 py-3 row-cols-1 row-cols-lg-4">
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Adelaide.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Adelaide</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,830</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Sydney.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Sydney</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,310</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Auckland.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Auckland</h2>
              
              <a href="#" class="icon-link">
                from <b>$2,893</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
            <div class="feature col">
              <div class="">
                <img class="" src="./assets/img/cities/Cairns.png" alt="Arrow Icon"/>
              </div>
              <p>Business Class</p>
              <h2>to Cairns</h2>
              
              <a href="#" class="icon-link">
                from <b>$3,392</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object>
              </a>
            </div>
          </div>
          <div class="col-auto align-items-center">
            <button type="submit" class="btn btn-primary mb-3">Show all</button>
          </div>
        </div>
        </div>

      </div>
    </div>

   

  </div>
</section>