<section id="deals">
  <div class="container col-xl-12 col-xxl-8 px-4 py-5">
    <div class="feature col d-flex align-items-start">
  <img class="small" src="./assets/img/01.jpg" alt="Arrow Icon"/>
  <div>
    <h2>Amsterdam</h2>
    <p>Business Class</p>
    <a href="#" class="icon-link">from <b>$2,203</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object></a>
  </div>
</div>
<div class="feature col d-flex align-items-start">
  <img class="small" src="./assets/img/01.jpg" alt="Arrow Icon"/>
  <div>
    <h2>Amsterdam</h2>
    <p>Business Class</p>
    <a href="#" class="icon-link">from <b>$2,203</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object></a>
  </div>
</div>
<div class="feature col d-flex align-items-start">
  <img class="small" src="./assets/img/01.jpg" alt="Arrow Icon"/>
  <div>
    <h2>Amsterdam</h2>
    <p>Business Class</p>
    <a href="#" class="icon-link">from <b>$2,203</b> <object class="bi" type="image/svg+xml" fill="red" data="./assets/icons/arrow_forward.svg"><img src="icon.png"></object></a>
  </div>
</div>
</div>
</section>
