<header>
  <div class="top-nav-info py-2">
    <img src="./assets/icons/aig-travel-guard-logo.png">
    <p>Protect your purchase with Trip Insurance from AIG Travel Guard!</p> 
  </div>
  
  <nav id="navbar_top" class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html"><object type="image/svg+xml" width="140" height="60" data="./assets/icons/logo.svg"><img src="logo.png"></object></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ms-auto col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item"><a class="nav-link" href="index.html"> Home </a></li>
          <li class="nav-item"><a class="nav-link" href="pricing.html"> Pricing </a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Deals </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Europe</a></li>
              <li><a class="dropdown-item" href="#">Asia</a></li>
              <li><a class="dropdown-item" href="#">Africa</a></li>
              <li><a class="dropdown-item" href="#">Middle East</a></li>
              <li><a class="dropdown-item" href="#">Oceania</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="about.html"> About </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> Contact </a></li>
        </ul>
        <div class="text-end">
          <a href="" class="nav-phone"><object type="image/svg+xml" fill="red" data="./assets/icons/call_talking.svg"><img src="icon.png"></object> (877) 233-3727</a>
          <button type="button" class="btn call-me">Call Me</button>
        </div>
      </div> 
    </div> 
  </nav>
</header>