<section id="hero">
  <div class="container col-xl-12 col-xxl-8 px-4 pt-5">
    <div class="row align-items-center g-lg-5 py-5">

      <div class="col-lg-6 text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Cheap Business Class Tickets</h1>
        <h4 class="col-lg-12">Get a quote now and save 20-50%</h4>

        <div class="row benefits">
          <div class="col-4 col-lg-4 text-lg-start">
            <object type="image/svg+xml" fill="red" data="./assets/icons/Accredited.svg"><img src="icon.png"></object>
            <h2>Accredited business</h2>
            <p></p>
          </div>
          <div class="col-4 col-lg-4 text-lg-start">
            <object type="image/svg+xml" fill="red" data="./assets/icons/Trustpilot.svg"><img src="icon.png"></object>
            <h2>Trustpilot top rated</h2>
            <p></p>
          </div>
          <div class="col-4 col-lg-4 text-lg-start">
            <object type="image/svg+xml" fill="red" data="./assets/icons/Live.svg"><img src="icon.png"></object>
            <h2>Live concierge</h2>
            <p></p>
          </div>
        </div>

      </div>

      <div class="col-md-10 mx-auto p-0 col-lg-6 flights-form">

        <div class="px-0">
          <h3 class="px-4">Get 3+ FREE Quotes</h3>
          <!-- <hr class="p-0 m-0"> -->
        </div>

        <div class="row m-0 px-0 select-div">

          <!-- <div class="col-lg-4 text-lg-start">
            <div class="mb-3 pt-2 box-select">
              <div class="select-box__current" tabindex="2">
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="multicity" value="multicity" name="tablist" checked="checked"/>
                  <p class="select-box__input-text">Multi-city</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="oneWay" value="oneWay" name="tablist" checked="checked"/>
                  <p class="select-box__input-text">One-Way</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="roundtrip" value="roundtrip" name="tablist" checked="checked"/>
                  <p class="select-box__input-text">Round-Trip</p>
                </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
              </div>
              <ul class="select-box__list">
                <li>
                  <label class="select-box__option" for="roundtrip" aria-hidden="aria-hidden">Round-Trip</label>
                </li>
                <li>
                  <label class="select-box__option" for="oneWay" aria-hidden="aria-hidden">One-Way</label>
                </li>
                <li>
                  <label class="select-box__option" for="multicity" aria-hidden="aria-hidden">Multi-city</label>
                </li>
      
              </ul>
            </div>
          </div>  -->

          <!-- <ul class="nav nav-tabs nav-fill mb-0 p-0" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-round-trip-tab" data-bs-toggle="pill" data-bs-target="#pills-round-trip" type="button" role="tab" aria-controls="pills-round-trip" aria-selected="true">Round-Trip</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-one-way-tab" data-bs-toggle="pill" data-bs-target="#pills-one-way" type="button" role="tab" aria-controls="pills-one-way" aria-selected="false">One-Way</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-multi-city-tab" data-bs-toggle="pill" data-bs-target="#pills-multi-city" type="button" role="tab" aria-controls="pills-multi-city" aria-selected="false">Multi-city</button>
              </li>
            </ul> -->

            <div class="form-floating col-4 px-0">
              <div class="box-select">
                <div class="select-box__current" tabindex="1">
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="multi-city" value="3" name="way" checked="checked"/>
                    <p class="select-box__input-text">Multi-city</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="one-way" value="2" name="way" checked="checked"/>
                    <p class="select-box__input-text">One-Way</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="round-trip" value="1" name="way" checked="checked"/>
                    <p class="select-box__input-text">Round-Trip</p>
                  </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
                </div>
                <ul class="select-box__list">
                  <li>
                    <label class="select-box__option" for="round-trip" aria-hidden="aria-hidden">Round-Trip</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="one-way" aria-hidden="aria-hidden">One-Way</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="multi-city" aria-hidden="aria-hidden">Multi-city</label>
                  </li>
                </ul>
              </div>
            </div>

            <div class="form-floating col-4 px-0">
              <div class="select-box">
                <div class="select-box__current" tabindex="1">
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="economy" value="4" name="Class" checked="checked"/>
                    <p class="select-box__input-text">Economy Class</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="premium" value="3" name="Class" checked="checked"/>
                    <p class="select-box__input-text">Premium Economy</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="first" value="2" name="Class" checked="checked"/>
                    <p class="select-box__input-text">First Class</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="business" value="1" name="Class" checked="checked"/>
                    <p class="select-box__input-text">Business Class</p>
                  </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
                </div>
                <ul class="select-box__list">
                  <li>
                    <label class="select-box__option" for="business" aria-hidden="aria-hidden">Business Class</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="first" aria-hidden="aria-hidden">First Class</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="premium" aria-hidden="aria-hidden">Premium Economy</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="economy" aria-hidden="aria-hidden">Economy Class</label>
                  </li>
        
                </ul>
              </div>
            </div>
            <div class="form-floating col-4 px-0">
              <div class="select-box">
                <div class="select-box__current" tabindex="1">
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked">
                    <p class="select-box__input-text">1 Traveler</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="1" value="2" name="Ben">
                    <p class="select-box__input-text">2 Travelers</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="2" value="3" name="Ben">
                    <p class="select-box__input-text">3 Travelers</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="3" value="4" name="Ben">
                    <p class="select-box__input-text">4 Travelers</p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="4" value="5" name="Ben">
                    <p class="select-box__input-text">5 Travelers</p>
                  </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
                </div>
                <ul class="select-box__list">
                  <li>
                    <label class="select-box__option" for="0" aria-hidden="aria-hidden">1 Traveler</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="1" aria-hidden="aria-hidden">2 Travelers</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="2" aria-hidden="aria-hidden">3 Travelers</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="3" aria-hidden="aria-hidden">4 Travelers</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="4" aria-hidden="aria-hidden">5 Travelers</label>
                  </li>
                </ul>
              </div>
            </div>


          <!-- <div class="col-lg-4 text-lg-end">

            <div class="mb-3 pt-2 box-select">
              <div class="select-box__current" tabindex="2">
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="3travelers" value="3travelers" name="travelers" checked="checked"/>
                  <p class="select-box__input-text">3 Travelers</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="2travelers" value="2travelers" name="travelers" checked="checked"/>
                  <p class="select-box__input-text">2 Travelers</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="1traveler" value="1traveler" name="travelers" checked="checked"/>
                  <p class="select-box__input-text">1 Traveler</p>
                </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
              </div>
              <ul class="select-box__list">
                <li>
                  <label class="select-box__option" for="1traveler" aria-hidden="aria-hidden">1 Traveler</label>
                </li>
                <li>
                  <label class="select-box__option" for="2travelers" aria-hidden="aria-hidden">2 Travelers</label>
                </li>
                <li>
                  <label class="select-box__option" for="3travelers" aria-hidden="aria-hidden">3 Travelers</label>
                </li>
      
              </ul>
            </div>

           
          </div> -->

       



          <div class="col-lg-4 text-lg-end">
            <!-- <div class="mb-0 pt-0 box-select">
              <div class="select-box__current" tabindex="1">
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="0" value="4" name="Class" checked="checked"/>
                  <p class="select-box__input-text">Economy Class</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="1" value="3" name="Class" checked="checked"/>
                  <p class="select-box__input-text">Premium Economy</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="2" value="2" name="Class" checked="checked"/>
                  <p class="select-box__input-text">First Class</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="3" value="1" name="Class" checked="checked"/>
                  <p class="select-box__input-text">Business Class</p>
                </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
              </div>
              <ul class="select-box__list">
                <li>
                  <label class="select-box__option" for="3" aria-hidden="aria-hidden">Business Class</label>
                </li>
                <li>
                  <label class="select-box__option" for="2" aria-hidden="aria-hidden">First Class</label>
                </li>
                <li>
                  <label class="select-box__option" for="1" aria-hidden="aria-hidden">Premium Economy</label>
                </li>
                <li>
                  <label class="select-box__option" for="0" aria-hidden="aria-hidden">Economy Class</label>
                </li>
      
              </ul>
            </div> -->
          
          </div>

        </div>

        <div class="tab-content p-0" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-round-trip" role="tabpanel" aria-labelledby="pills-round-trip-tab">
            <form class="">
              <div class="input-daterange mb-0 input-group" id="flights">
                <div class="form-floating col-6 px-0">
                  <input type="text" class="form-control" id="flyingFrom" placeholder="Flying from?">
                  <label for="flyingFrom" class="icon-departure">Flying from?</label>
                </div>
                <div class="form-floating col-6 px-0">
                  <input type="text" class="form-control" id="flyingTo" placeholder="Flying to?">
                  <label for="flyingTo" class="icon-arrival">Flying to?</label>
                </div>
              </div>

              <div class="input-daterange mb-0 input-group" id="flight-datepicker">
                <div class="form-floating col-6 px-0 form-item">
                  <input class="input-sm form-control" type="text" id="start-date" name="start" placeholder="Select depart date" data-date-format="DD, MM d">
                  <label for="start-date" class="icon-depart">Depart</label>
                </div>
                <div class="form-floating col-6 px-0 form-item">
                  <input class="input-sm form-control" type="text" id="end-date" name="end" placeholder="Select return date" data-date-format="DD, MM d">
                  <label for="end-date" class="icon-return">Return</label>
                </div>
              </div>

            </form>
          </div>


          <div class="tab-pane fade" id="pills-one-way" role="tabpanel" aria-labelledby="pills-one-way-tab">
            ...
          </div>
          <div class="tab-pane fade" id="pills-multi-city" role="tabpanel" aria-labelledby="pills-multi-city-tab">
            ...
          </div>

          <form class="px-0 ">
            <div class="input-daterange mb-0 input-group" id="flights">
              <div class="form-floating col-6 px-0">
                <!-- <input type="text" class="form-control" id="classF" placeholder="Class">
                <label for="classF" class="icon-departure">Class</label> -->
                <!-- <div class="box-select">
                  <div class="select-box__current" tabindex="1">
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="economy" value="4" name="Class" checked="checked"/>
                      <p class="select-box__input-text">Economy Class</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="premium" value="3" name="Class" checked="checked"/>
                      <p class="select-box__input-text">Premium Economy</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="first" value="2" name="Class" checked="checked"/>
                      <p class="select-box__input-text">First Class</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="business" value="1" name="Class" checked="checked"/>
                      <p class="select-box__input-text">Business Class</p>
                    </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
                  </div>
                  <ul class="select-box__list">
                    <li>
                      <label class="select-box__option" for="business" aria-hidden="aria-hidden">Business Class</label>
                    </li>
                    <li>
                      <label class="select-box__option" for="first" aria-hidden="aria-hidden">First Class</label>
                    </li>
                    <li>
                      <label class="select-box__option" for="premium" aria-hidden="aria-hidden">Premium Economy</label>
                    </li>
                    <li>
                      <label class="select-box__option" for="economy" aria-hidden="aria-hidden">Economy Class</label>
                    </li>
          
                  </ul>
                </div> -->
                <div class="form-floating mb-0">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Name">
                  <label for="floatingInput" class="icon-name">Name</label>
                </div>
              </div>
              <div class="form-floating col-6 px-0">
                <!-- <input type="text" class="form-control" id="travelers" placeholder="Travelers">
                <label for="travelers" class="icon-arrival">Travelers</label> -->
                <!-- <div class="select-box">
                  <div class="select-box__current" tabindex="1">
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked">
                      <p class="select-box__input-text">Traveler 1</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="1" value="2" name="Ben">
                      <p class="select-box__input-text">Travelers 2</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="2" value="3" name="Ben">
                      <p class="select-box__input-text">Travelers 3</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="3" value="4" name="Ben">
                      <p class="select-box__input-text">Travelers 4</p>
                    </div>
                    <div class="select-box__value">
                      <input class="select-box__input" type="radio" id="4" value="5" name="Ben">
                      <p class="select-box__input-text">Travelers 5</p>
                    </div><img class="select-box__icon" src="./assets/icons/chevron_down.svg" alt="Arrow Icon" aria-hidden="true"/>
                  </div>
                  <ul class="select-box__list">
                    <li>
                      <label class="select-box__option" for="0" aria-hidden="aria-hidden">Traveler 1</label>
                    </li>
                    <li>
                      <label class="select-box__option" for="1" aria-hidden="aria-hidden">Travelers 2</label>
                    </li>
                    <li>
                      <label class="select-box__option" for="2" aria-hidden="aria-hidden">Travelers 3</label>
                    </li>
                    <li>
                      <label class="select-box__option" for="3" aria-hidden="aria-hidden">Travelers 4</label>
                    </li>
                    <li>
                      <label class="select-box__option" for="4" aria-hidden="aria-hidden">Travelers 5</label>
                    </li>
                  </ul>
                </div> -->
                <div class="form-floating mb-0">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Phone">
                  <label for="floatingInput">Phone</label>
                </div>
              </div>
            </div>
         
            <div class="form-floating mb-0">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput" class="icon-email">Email</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Send Me Quotes</button>
            <!-- <small class="text-muted">Book now for travel up to 11 months from today</small> -->
          </form>

        </div>

      </div>

      <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-3 air-logos">
        <div class="col">
          <img src="./assets/logos/01.svg">
        </div>
        <div class="col">
          <img src="./assets/logos/02.svg">
        </div>
        <div class="col">
          <img src="./assets/logos/03.svg">
        </div>

        <div class="col">
          <img src="./assets/logos/04.svg">
        </div>
        <div class="col">
          <img src="./assets/logos/05.svg">
        </div>
        <div class="col">
          <img src="./assets/logos/06.svg">
        </div> 
      </div>

    </div>
  </div>
</section>