<section id="hiw">
  <div class="container px-4 py-3">
    <div class="row g-4 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/Document.svg"><img src="icon.png"></object>
        </div>
        <h4>Get a free quote</h4>
        <p>Complete the form above and tell us about your trip, it only takes few seconds.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/Discovery.svg"><img src="icon.png"></object>
        </div>
        <h4>Review flight options</h4>
        <p>A friendly travel expert will quickly find the best possible itineraries and send them to you.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/Discount.svg"><img src="icon.png"></object>
        </div>
        <h4>Book and save</h4>
        <p>Pick your seats, book securely online, and save 20-50%.</p>
      </div>
    </div>
  </div>
</section>