<section id="info">
  <div class="container col-xl-12 col-xxl-8 px-4">
    <div class="row align-items-center">
      <div class="col-lg-2 text-left text-lg-start">
        <img class="select-box__icon" src="./assets/img/call.png" alt="Services" aria-hidden="true"/>
      </div>
      <div class="col-lg-5 text-left text-lg-start">
        <h5 class="fw-bold lh-1 mb-3">Speak with a travel expert</h1>
          <p class="col-lg-10">A travel expert will call you back ASAP! </p>
          <form class="row g-3">
            <div class="col-6">
              <label for="staticEmail2" class="visually-hidden">Phone</label>
              <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Phone">
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Call Me Back</button>
            </div>
          </form>
      </div>

      <div class="col-lg-5 pt-3 text-right text-lg-start">
        <h5 class="fw-bold lh-1 mb-3">Get deals in your inbox</h1>
          <p class="col-lg-10">Exclusive flight deals, specials and promotions! </p>
        <form class="row g-3">
          <div class="col-6">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Email">
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Send Me Deals</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>