<section id="services">
  <div class="container col-xl-12 col-xxl-8 px-4 py-5">
    <div class="row featurette">
      <div class="col-md-6 text-lg-start">
        <h4 class="featurette-heading">Save 20-50% OFF retail prices <span>GUARANTEED!</span></h4>
        <p class="lead">• Deep discounts on <b>business class flights with major airlines</b>, including multiple airline combinations.</p>
        <p class="lead">• Specializing in complex routing, upgrade vouchers, and <b>maximizing savings with exclusive discounts</b> since 2006.</p>
        <div class="col-auto">
          <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#freeQuotes">Get FREE Airfare Quotes Now</button>
        </div>

      </div>
      <div class="col-md-6">
        <div id="privatelyCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#privatelyCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#privatelyCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#privatelyCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="select-box__icon" src="./assets/img/services_01.png" alt="Services" aria-hidden="true"/>
      
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Example headline.</h1>
                  <p>Some representative placeholder content for the first slide of the carousel.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="select-box__icon" src="./assets/img/services_02.png" alt="Services" aria-hidden="true"/>
      
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Some representative placeholder content for the second slide of the carousel.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="select-box__icon" src="./assets/img/services_03.png" alt="Services" aria-hidden="true"/>
      
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>One more for good measure.</h1>
                  <p>Some representative placeholder content for the third slide of this carousel.</p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#privatelyCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#privatelyCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row featurette pt-5">
      
      <div class="col-md-6 order-md-3 text-lg-start">
        <h4 class="featurette-heading">Your personal travel expert, <span>never wait on hold again!</span></h4>
        <p class="lead">• A <b>dedicated travel expert handles all aspects of your booking</b> including seat assignments, meal preferences, travel insurance and even mileage accrual.</p>
        <p class="lead">• O ur travel experts have extensive knowledge of flight routing, loyalty programs and airfare pricing. <b>Simply put, they know how to save you money!</b></p>
        <div class="col-auto">
          <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#freeQuotes">Get FREE Airfare Quotes Now</button>
        </div>
        
      </div>
      <div class="col-md-6 order-md-1">
        <div id="travelExpertCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#travelExpertCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#travelExpertCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#travelExpertCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="select-box__icon" src="./assets/img/services_04.png" alt="Services" aria-hidden="true"/>
      
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Example headline.</h1>
                  <p>Some representative placeholder content for the first slide of the carousel.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="select-box__icon" src="./assets/img/services_05.png" alt="Services" aria-hidden="true"/>
      
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Some representative placeholder content for the second slide of the carousel.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="select-box__icon" src="./assets/img/services_06.png" alt="Services" aria-hidden="true"/>
      
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>One more for good measure.</h1>
                  <p>Some representative placeholder content for the third slide of this carousel.</p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#travelExpertCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#travelExpertCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>