<section id="successes">
  <div class="container px-4 py-2">
    <hr class="featurette-divider"> 
    <div class="row g-4 py-5 row-cols-2 row-cols-lg-4">
      <div class="feature col">
        <h4>35,000+</h4>
        <p>happy customers </p>
      </div>
      <div class="feature col">
        <h4>500,000+</h4>
        <p>tickets sold</p>
      </div>
      <div class="feature col">
        <h4>$687</h4>
        <p>average discount </p>
      </div>
      <div class="feature col">
        <h4>20+</h4>
        <p>travel experts</p>
      </div>
    </div>
  </div>
</section>