<section id="wbwu">
  <div class="container px-4 py-5">
    <h1 class="fw-bold lh-1 mb-3">Why book with us?</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/checkmark_circle.svg"><img src="icon.png"></object>
        </div>
        <h4>Big Savings</h4>
        <p>Discounts of 30-50% on first and business class tickets.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/checkmark_circle.svg"><img src="icon.png"></object>
        </div>
        <h4>Premium Service</h4>
        <p>Dedicated travel expert before and after your trip, never wait on hold.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/checkmark_circle.svg"><img src="icon.png"></object>
        </div>
        <h4>Private Fares</h4>
        <p>Access to privately negotiated and deeply discounted fares that are not available through booking websites.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/checkmark_circle.svg"><img src="icon.png"></object>
        </div>
        <h4>Best Value</h4>
        <p>We find the best deals through booking strategies, industry contacts and our proprietary deals.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/checkmark_circle.svg"><img src="icon.png"></object>
        </div>
        <h4>Genuine Skill</h4>
        <p>Our experts have extensive knowledge of flight routing, loyalty programs and airfare pricing.</p>
      </div>
      <div class="feature col">
        <div class="feature-icon">
          <object type="image/svg+xml" fill="red" data="./assets/icons/checkmark_circle.svg"><img src="icon.png"></object>
        </div>
        <h4>Trust and Credibility</h4>
        <p>In business since 2006 with thousands of excellent BBB ratings and TrustPilot reviews. </p>
      </div>
    </div>
  </div>
</section>